[submodule "pages/projects/automatic_canister_filling"]
	path = pages/projects/automatic_canister_filling
	url = https://github.com/lm4552/automatic_canister_filling
[submodule "pages/projects/wifi_controller"]
	path = pages/projects/wifi_controller
	url = git@github.com:lm4552/wifi_controller.git
