[submodule "pages/projects/automatic_canister_filling"]
	path = pages/projects/automatic_canister_filling
	url = https://github.com/lm4552/automatic_canister_filling
[submodule "pages/projects/wifi_controller"]
	path = pages/projects/wifi_controller
	url = https://github.com/lm4552/wifi_controller
[submodule "pages/projects/simple_temp_controller"]
	path = pages/projects/simple_temp_controller
	url = https://github.com/lm4552/simple_temp_controller.git
