 
 /* colors: bg 10161A, bg sec#192127, font #C4C6B6, #4D7088, links #7C7A2F, #B0733B */

 body {
  background-color: #10161A;
  font-family:arial,helvetica,verdana,tahoma;
  max-width: 1000px;
  text-align: left;
  margin: auto;
  color:#C4C6B6;
}

h1 {
  color: #C4C6B6;
  font-size: 1.6em;
  border: 1px solid #C4C6B6;
  padding:3% 6%;
  display:inline-block;
  background-color: #192127;
}

h2 {
  color: #C4C6B6;
  border: 1px solid #C4C6B6;
  padding:2% 5%;
  display:inline-block;
  background-color: #192127;
}

h3 {
  color: #C4C6B6;
  border: 1px solid #C4C6B6;
  padding:1% 3%;
  display:inline-block;
  background-color: #192127;
}

h4 {
  color: #C4C6B6;
  display:inline-block;
}

table{
  margin: 5% 0; 
}

th{
  background-color: #4D7088;
}

table, th, td {
  border: 1px solid #C4C6B6;
  border-collapse: collapse;
  padding: 0.4em 1em;
  font-size: 0.95em;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: inline-block;
  z-index: 3;
  background-color: #10161A;
}

nav a{
  float: left;
  color: #C4C6B6;
  border: 1px solid #C4C6B6;
  padding: 1em;
  margin: 0.25em;
  background-color: #192127;
  text-decoration: none;
  display: block;
}

nav .dropdown.entry a{
  display: none;
  width: 4em;
}

nav .dropdown.entry a:first-child{
  display: block;
  float: left;
}

nav .dropdown.entry.active a:not(:first-child){
  display: block;
  float: right;
  padding: 0.3em;
  width: auto;
  
}

nav a.active, nav .dropdown.entry.active a:first-child {
  background-color: #B0733B;
  color: #C4C6B6;
}

nav a:hover {
  background-color: #4D7088;
  color: #C4C6B6;
}

img{
  max-width: 100%;
  max-height: 350px;
}

.content>div{
  display:none;
}

.content>div a{
  text-decoration: none;
}

.content>div a:link{
  color: #7C7A2F;
}

.content>div a:visited{
  color:#4D7088;
}

.content>div a:hover{
  color:#B0733B;
}

#bottomNav{
  display: inline-block;
  width: 66%;
  text-align: center;
  margin-left: 34%;
}

#bottomNav h3:hover{
  background-color: #4D7088;
}

.content>div#bg_img{
  display:block;
  width: 200px;
  float: left;
  height: 400px;
  min-width: 200px;
  color: transparent;
  margin-top: 5%;
}

.content>div#bg_img img{
    height: 100%;
    max-height: none;
    width:auto;
    object-fit: cover;
    filter:  hue-rotate(135deg) grayscale(50%) opacity(60%);
    clip-path: polygon(160px 100px,0px 200px ,160px 300px) ;
    position: relative;
    z-index: -1;
}

.content>div:target{
  margin-top: 5%;
  display:block;
  width: calc(100% - 220px);
  float:right;
}

#triangle0, #triangle1, #triangle2, #triangle3, #triangle4, #triangle5, #triangle6, #triangle7{
  position: absolute;
  width: 200px;
  height: 400px;
}

#triangle0{
  background: #C4C6B6;
  clip-path: polygon(112px 4px,200px 65px ,112px 120px) ;
}

/*
#triangle1{
  background: #C4C6B6;
  clip-path: polygon(104px 125px,48px 90px ,48px 160px) ;
} */

#triangle1{
  background: #C4C6B6;
  clip-path: polygon(95px 115px,55px 90px ,95px 65px) ;
} 


#triangle2{
  background: #7C7A2F;
  /*clip-path: polygon(103px 125px,49px 91px ,49px 159px) ;*/
  clip-path: polygon(104px 125px,48px 90px ,48px 160px) ;
} 

#triangle3{
  background: #4D7088;
  clip-path: polygon(120px 285px,16px 220px ,16px 350px) ;
}

#triangle4{
  background: #B0733B;
  clip-path: polygon(165px 110px,165px 150px ,198px 130px) ;
}    

#triangle5{
  background: #B0733B;
  clip-path: polygon(111px 385px,39px 340px ,111px 295px) ;
}    

#triangle6{
  background: #192127;
  /*clip-path: polygon(95px 115px,55px 90px ,95px 65px) ;*/
  clip-path: polygon(94px 114px,56px 90px ,94px 66px) ;
} 

#triangle7{
  background: #192127;
  clip-path: polygon(160px 100px,0px 200px ,160px 300px) ;
  z-index: -1;
}    

@media screen and (max-width: 500px) {
  .content>div#bg_img {
    display: none;
  }
  .content>div:target{
    width: 90%;
    float: none;
    margin-right: 5%;
    margin-left: 5%;
  }
}
